# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000

DATABASE_URL= # e.g. mongodb://localhost:27017/my-database

JWT_SECRET=token_super_secret
JWT_SECRET_EXPIRE_IN=900s

JWT_REFRESH_SECRET=refresh_token_super_secret
REFRESH_TOKEN_EXPIRE_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/auth/google/callback
GOOGLE_MOBILE_CALLBACK_URL=/auth/google/mobile/callback

MAIL_HOST= # e.g. smtp.gmail.com
MAIL_PORT= # e.g. 587
MAIL_USER=
MAIL_PASS=

MAIL_SENDER_NAME= 
MAIL_SENDER_EMAIL=

REDIS_HOST= # e.g. localhost
REDIS_PORT= # e.g. 6379
REDIS_PASS= # e.g. redis_password
REDIS_USER= # Optional

MOBILE_AUTH_HOSTNAME=auth.expo.io
MOBILE_AUTH_PATHNAME=/@edlanioj/beautyapp
